<div id="<%= dom_id firm_type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Firm type:</strong>
    <%= firm_type.firm_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this firm type", firm_type, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this firm type", edit_firm_type_path(firm_type), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
