<% button_class="shadow focus:shadow-outline focus:outline-none text-white py-2 px-4 bg-tamu-maroon text-white rounded-md hover:bg-tamu-dark-maroon" %>

<div class="m-4">
  <div class="flex justify-between">
    <h1 class="font-bold text-2xl">Are you sure you want to permanently delete this profile?</h1>
    <div></div>
  </div>

  <p></p>

  <%= render @user %>

  <div class="flex justify-between">
    <%= link_to users_path, class: "underline m-4" do %>
      <span>&#8592;</span> <%= "Back to users" %>
    <% end %>
    <div>
      <%= button_to "Permanently delete this profile", @user, method: :delete, class: "#{button_class}" %>
    </div>
  </div>
</div>