<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
  <!-- Logo and title section -->
  <div class="mb-8 justify-center items-center">
    <%= image_tag "blsa_logo.png", alt: 'Your Logo', class: 'mb-4 h-60vh w-auto object-contain mx-auto rounded-full' %>
  </div>

  <!-- Sign in button section -->
  <div class="w-full max-w-sm mx-auto">
    <%= button_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path, method: :post, class: "inline-flex items-center justify-center w-full px-4 py-3 border border-transparent rounded-md shadow-sm text-xl font-medium text-white bg-tamu-maroon hover:bg-tamu-dark-maroon focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-tamu-maroon" %>
  </div>
</div>
