<div class="md:flex items-center mb-4">
  <div class="md:w-1/2 px-3 mb-4 md:mb-0">
    <p class="block text-gray-700 text-sm font-bold mb-2">University:</p>
    <p class="bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"><%= education_info.university.University %></p>
  </div>
  <div class="md:w-1/2 px-3 mb-4 md:mb-0">
    <p class="block text-gray-700 text-sm font-bold mb-2">Degree type:</p>
    <p class="bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"><%= education_info.Degree_Type %></p>
  </div>
</div>

<div class="md:flex items-center mb-4">
  <div class="md:w-1/2 px-3 mb-4 md:mb-0">
    <p class="block text-gray-700 text-sm font-bold mb-2">Semester:</p>
    <p class="bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"><%= education_info.Semester %></p>
  </div>
  <div class="md:w-1/2 px-3 mb-4 md:mb-0">
    <p class="block text-gray-700 text-sm font-bold mb-2">Grad year:</p>
    <p class="bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"><%= education_info.Grad_Year %></p>
  </div>
</div>
