<h1>Editing education info</h1>

<%= render "form", education_info: @education_info %>

<br>

<div>
  <%= link_to "Show this education info", @education_info %> |
  <%= link_to "Back to education infos", education_infos_path %>
</div>
