<div class="m-4">
  <h1 class="text-2xl">Editing Education Information for 
    <span>
      <%= link_to "#{@education_info.user.First_Name} #{@education_info.user.Last_Name}", user_path(@education_info.user), class: "underline" %>
    </span>
  </h1>

  <%= render "form", education_info: @education_info %>

  <br>

  <div>
    <div>
      <%= link_to education_infos_path, class: "underline" do %>
        <span>&#8592;</span> <%= "Back to my education information" %>
      <% end %>
    </div>
  </div>
</div>