<p style="color: green"><%= notice %></p>

<h1>Education infos</h1>

<div id="education_infos">
  <% @education_infos.each do |education_info| %>
    <%= link_to education_info do %>
      <%= render education_info %>
    <% end %>
    <hr>
  <% end %>
</div>

<%= link_to "New education info", new_education_info_path %>
