<div class="m-4">
  <h1 class="font-bold text-2xl">Editing University</h1>

  <%= render "form", university: @university %>

  <div>
      <%= link_to universities_path, class: "underline" do %>
        <span>&#8592;</span> <%= "Back to universities" %>
      <% end %>
    </div>
</div>
